.projects-container {

    margin-bottom: 5vh;

    .project-nav {

        @include flex-center-column;

        @include cell(){

            margin-bottom: 2vh;
        }
    
        @include tab(){
            
        }

        @include desk(){
  
            position: fixed;
            left: 3vh;      
            min-width: 10rem;  
        }

        >span {

            margin-bottom: -1vh;
        }

        // eg fullstack, front-end

        .cats {

            @include button;
            
            @include cell(){

                @include flex-center-column;
                
                font-size: 4.5rem;
                margin-bottom: 3vh;

                .caps-text {
                    margin-bottom: 2vh;
                }
            }
        
            @include tab(){

                display: flex;
                width: 100%;
                justify-content: space-evenly;
                font-size: 1.5rem;
                margin-top: 1vh;

                .caps-text {
                    margin-bottom: 2vh;
                }
            }

            @include desk(){

                @include flex-center-column;

                
            }
        }

        .project-selector {

            @include button;

            @include tab(){

                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 90%;
                color: $greyish;
                font-size: 1.5rem;


                span {
                    margin-bottom: .5vh;
                    display: inline-block;
                    padding-left: 1vh;
                    padding-right: 1vh;
                    background-color: rgba(0,0,0,.1);

                    &:hover{
                        opacity: .5;
                    }
                }
            }

            @include desk(){

                @include flex-center-column;
                width: 100%;

                span {
                    font-size: 1.5rem;
                    white-space: nowrap;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.project-each {

    @include flex-center-column;

    @include cell(){

        margin-bottom: 5vh;

        span:nth-child(3){
            margin-top: 1vh;
        }

    }

    @include tab(){

        margin-bottom: 3vh;

        span {
            margin-top: 2vh;
        }
    }

    @include desk(){

        width: 80%;
        position: relative;
        left: 25vh;
    }

    a {
        color: $greyish;

        &:hover{
            opacity: .5;
        }
    }

    img {

        @include cell(){
            margin-top: 2vh;
            height: 30rem;
        }

        @include tab(){
            height: 15rem;
            margin-top: 1vh;
        }
    }

    .bottom {

        @include flex-center-column;
    }

    i {

        color: white;

        @include cell(){
            margin-left: 1vh;
            position: relative;
            top: .5vh;
        }

    }


    .title-text{
        color: $greyish;
        width: 100%;
        @include button;

        &:hover {

            opacity: .6;
        }
        
        @include cell(){
                    
            font-size: 7rem;
        }
    
        @include tab(){
            
    
        }
    }

    .desc-text {

        color: white !important; 
        display: inline-block;
        width: 80%;

        @include cell(){
                    
            color: $greyish;
            margin-top: 2vh;        
            font-size: 2.75vh;    
        }
    
        @include tab(){

            color: $greyish;
            font-size: 2.75vh; 
        }
    }
}