// variables

$pale-black: #1B1B1B;
$pale-black-second: rgba(11,11,11,.6);
$pale-black-third: rgba(11,11,11,.2);
$main-gold: #E1C79B;
$sec-gold: #979797;
$greyish: rgba(255,255,255,.7);
$greyish-two: rgba(255,255,255,.1);