// mixins

@mixin flex-center{

    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin gold-text-border{

    text-shadow: -1.5px 0 $sec-gold, 0 1.5px $sec-gold, 1.5px 0 $sec-gold, 0 -1.5px $sec-gold;
}

@mixin cell(){
    @media only screen and (max-device-width: 600px) { 
        @content 
    };    //600px
}

@mixin tab(){
    @media only screen and (min-device-width: 601px) { 
        @content 
    };    //600px
}

// desktop - 1200-1600

// @mixin desk(){
//     @media only screen and (max-device-width: 1600px) { 
//         @content 
//     };    //600px
// }

// // big desktop- over 1600

// @mixin desk(){
//     @media only screen and (min-device-width: 1601px) { 
//         @content 
//     };    //600px
// }