// mixins

@mixin flex-center{

    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin button{
    
    cursor: pointer;
}

@mixin text-justify {

    text-align: justify;
}

@mixin flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin gold-text-border{

    text-shadow: -1px 0 $sec-gold, 0 1px $sec-gold, 1px 0 $sec-gold, 0 -1px $sec-gold;
}

$max: max-device-width;
$min: min-device-width;

@mixin cell(){
    @media only screen and ($max: 600px) { 
        @content 
    };    //600px
}

@mixin tab(){
    @media only screen and ($min: 601px) { 
        @content 
    };    //600px
}

// desktop - 1200-1600

@mixin desk(){
    @media only screen and ($min: 900px) { 
        @content 
    };    //600px
}
